body, ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.navbar {
    background-color: rgb(233, 54, 54);
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.listaLinks {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.nav-item { 
    margin: 0 15px;

}
.item-links{
    color: white;
    border-radius: 6px;
    padding: 8px 8px;
    text-decoration: none;
}

.container {
    font-size: 100px;
    text-align: center;
    padding: 20px;
}